<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<%= image_tag("circuit_74408_white copy.jpg", class: "img-responsive center-block") %>
<p>See our <%= link_to "Featured Products", "/simple_pages/landing_page" %></p>