<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-2 col-md-4">
      <h1>Order # <%= order.id %></h1>
      <p><%= link_to 'Show', order %></p>
    </div><!-- /col -->
  <% end %>
</div>




