// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  background: #ccc;
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  font-family: Verdana, Arial, sans-serif;
  color: #133772;
  text-align: center;
}

h2.deviseviews {
  margin: 40px 0 40px 0;
}
 
a {
  text-decoration: none;
  color: #fff;
  display: block;
}

label.form-check-label{
  display: inline;
}

div.form-check{
  margin-bottom: 20px;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav.navbar-default {
  position: relative;
  background: #2B2B2B;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
}

ul {
  margin-bottom: 0;
  padding-left: 0;  

} 

ul.primary li a {
  display: block;
  padding: 10px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

footer nav.navbar-footer {
  height: 35px;
  padding-top: 10px;
  color: #fff;
  background: #2B2B2B;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
}


/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid grayS;
}

@media only screen and (max-width: 600px) {
  li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }

}

